.Register {
    padding: 10px;
    height: 100%;
}

.Register__h1 {
    width: fit-content;
    margin: 2vw auto 2vw auto;
    font-size: 3vw;
}

.Register__form {
    width: fit-content;
    margin: auto;
}

.Register__form--input {
    font-size: 1.8vw;
    border-radius: 5%;
    box-shadow: 0.2px 1px 0.2px 0.2px rgb(53, 53, 53);
}

.Register__form--button {
    font-size: 2vw;
    width: 100%;
    background-color: rgb(216, 168, 45);
    border: solid 0.2px rgb(0, 0, 0);
    border-radius: 5%;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px;
}

.Register__form--button:hover {
    background-color: blue;
    color: white;
}

.Register__image {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.Register__image--img {
    width: 250px;
    min-width: 10%;
    max-width: 80%;
    border-radius: 5%;
}

@media(max-width: 1139px) {

    .Register__h1 {
        margin: 2vw auto 2vw auto;
        font-size: 3vw;
    }

    .Register__form--input {
        font-size: 1.8vw;
    }

    .Register__form--button {
        font-size: 2vw;
    }
}

@media(max-width: 959px) {

    .Register__h1 {
        margin: 2.8vw auto 2.8vw auto;
        font-size: 3.8vw;
    }

    .Register__form--input {
        font-size: 2.6vw;
    }

    .Register__form--button {
        font-size: 2.8vw;
    }
}

@media(max-width: 779px) {

    .Register__h1 {
        margin: 3.6vw auto 3.6vw auto;
        font-size: 4.6vw;
    }

    .Register__form--input {
        font-size: 3.4000000000000004vw;
    }

    .Register__form--button {
        font-size: 3.6vw;
    }
}

@media(max-width: 599px) {

    .Register__h1 {
        margin: 4.4vw auto 4.4vw auto;
        font-size: 5.4vw;
    }

    .Register__form--input {
        font-size: 4.2vw;
    }

    .Register__form--button {
        font-size: 4.4vw;
    }
}

@media(max-width: 419px) {

    .Register__h1 {
        margin: 5.2vw auto 5.2vw auto;
        font-size: 6.2vw;
    }

    .Register__form--input {
        font-size: 5vw;
    }

    .Register__form--button {
        font-size: 5.2vw;
    }
}

@media(max-width: 239px) {

    .Register__h1 {
        margin: 6vw auto 6vw auto;
        font-size: 7vw;
    }

    .Register__form--input {
        font-size: 5.8vw;
    }

    .Register__form--button {
        font-size: 6vw;
    }
}