.PasswordRecovery {
    width: fit-content;
    margin: auto;
}

.PasswordRecovery__mainButton {
    color: rgb(0, 137, 201);
    text-decoration: underline;
    font-weight: bold;
    border: none;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.PasswordRecovery__modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.836);
    font-size: 1.8vw;
}

.PasswordRecovery__modal--divform {
    width: 60vw;
    margin: auto;
    border: solid 2px black;
    padding: 10px;
    background-color: rgb(216, 214, 106);
    box-shadow: 1px 1px 1px 1px rgb(71, 71, 71);
}

.PasswordRecovery__modal--form {
    background-color: rgb(216, 214, 106);
}

.PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
    background-color: rgb(216, 214, 106);
}

.PasswordRecovery__modal--form input {
    width: 100%;
    font-size: 1.5vw;
    margin: 5px;
    background-color: rgb(216, 214, 106);
}

.PasswordRecovery__modal--form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    background-color: rgb(216, 214, 106);
}

.PasswordRecovery__modal button {
    background-color: rgb(80, 218, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(71, 71, 71);
}

.PasswordRecovery__modal button:hover {
    background-color: blue;
    color: white;
}

@media(max-width: 1139px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 1.8vw;
    }

    .PasswordRecovery__modal--divform {
        width: 60vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 1.5vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}

@media(max-width: 959px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 2.6vw;
    }

    .PasswordRecovery__modal--divform {
        width: 62vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 2.3vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}

@media(max-width: 779px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 3.4000000000000004vw;
    }

    .PasswordRecovery__modal--divform {
        width: 65vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 3.1vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}

@media(max-width: 599px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 4.2vw;
    }

    .PasswordRecovery__modal--divform {
        width: 70vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 3.9000000000000004vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}

@media(max-width: 419px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 5vw;
    }

    .PasswordRecovery__modal--divform {
        width: 75vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 4.7vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}

@media(max-width: 239px) {
    .PasswordRecovery {
        width: fit-content;
        margin: auto;
    }

    .PasswordRecovery__mainButton {
        color: rgb(0, 137, 201);
        text-decoration: underline;
        font-weight: bold;
        border: none;
        margin: 20px 0 0 0;
        cursor: pointer;
    }

    .PasswordRecovery__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(255, 255, 255, 0.836);
        font-size: 5.8vw;
    }

    .PasswordRecovery__modal--divform {
        width: 80vw;
        margin: auto;
        border: solid 2px black;
        padding: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input, .PasswordRecovery__modal--form label {
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form input {
        width: 100%;
        font-size: 5.5vw;
        margin: 5px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal--form-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px;
        background-color: rgb(216, 214, 106);
    }

    .PasswordRecovery__modal button {
        background-color: rgb(80, 218, 0);
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 100px;
        margin: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .PasswordRecovery__modal button:hover {
        background-color: blue;
        color: white;
    }
}